.button {
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  border: 1px solid silver;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button.selected {
  background: white;
  color: #3399ff;
  border: #3399ff solid 1px;
}

.button.selected:hover {
  background: #c5eaff;
}

.button.not-selected {
  background: white;
  color: black;
}

.button.not-selected:hover {
  background: rgb(231, 231, 231);
}

input {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input.filter {
  width: 5rem;
}
